.Form-Container{
    display: grid;
    justify-content: center;
    margin: 25px 0;
}

.Form-Container h1 {
    font-weight: 400;
    text-align: center;
}

.Form-Container h5 {
    margin: 0 0;
}

.Form {
    background-color: white;
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr;
}

label{
    font-weight: bold;
}

input{
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputs-container {
    display: grid;
}

.Form button{
    margin: 0 5px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    margin-top: 15px;
    float: right;
}

.Form button:hover{
    margin: 0 5px;
    padding: 10px;
    background-color: rgba(0, 0, 245, 0.6);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    float: right;
}

.Save-Changes-Btn {
    width: 100%;
    transform: translateX(4px);
}

.alert-box {
    padding: 12px;
    padding-left: 24px;
    border-radius: 5px;
    font-weight: 300;
    font-size: medium;
    margin: 12px 0;
}

.danger {
    background-color: rgba(245, 171, 171, 0.6);
}

.success {
    background-color: rgb(221, 241, 221);
}